<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG1Suite">
  <test thread-count="5" name="Test">
  <parameter name="browserName" value="chrome"></parameter>
    <classes>
      <class name="TestCasesVerifivcation.TestClass_verifyLoginFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- TestNG1Suite -->
